/*	CSS for customized radio buttons and check boxes */
.custom-radio { position: relative; margin:0; float:left; padding:0 10px 0 0;  font-size:0; }
.custom-radio input {position: absolute; left: 5px; top: 5px; margin: 0; z-index: 0; float:left; opacity:0 !important;}
.custom-radio label {display: block; position: relative; z-index: 1; padding-right: 1em; line-height: 1; cursor: pointer; width:auto !important; display:inline-block; }
.custom-radio label { background:url(../images/radio_off.png) no-repeat left top; width:18px; height:14px;  font-family: 'Lato', sans-serif; font-weight:300; font-size:14.98px; color:#a6a6a6; padding:5px 0 0 30px; }
.custom-radio label.checked {background:url(../images/radio_on.png) no-repeat left top;}
.custom-checkbox label { background:url(../images/check1.png) no-repeat left center; width:26px; height:27px;}
.custom-checkbox label.checked{ background:url(../images/checked1.png) no-repeat left center; width:26px; height:27px;}
.custom-checkbox input  {position: absolute; right:8px; top:-270px; margin: 0; z-index: 0; float:left; width:26px; height:27px; display:none !important;}
.custom-checkbox label  {display: block; position: relative; z-index: 1; padding-right: 1em; line-height: 1; cursor: pointer; height:18px;}
.custom-checkbox { position: relative; padding:0 0 0 0;}
	
	
	
	
.product_blk_in1 .custom-checkbox label { background:url(../images/check1.png) no-repeat left center; width:26px; height:27px;}
.product_blk_in1 .custom-checkbox label.checked{ background:url(../images/checked1.png) no-repeat left center !important; width:26px; height:27px;}	
.product_blk_in1 .custom-checkbox{padding:0;}
	