@media (max-width:1190px)
{
.container                    {width: 100%;}
.header_top_in ul             {padding: 11px 30px 6px 0;}
.contact span                 {margin: 0 45px 0 0;}
.contact ul                   {width: 89%;}
.contact > ul > li            {margin: 0 40px 0 0;}  
.rosen_lft h3                 {font-size: 36px; line-height: 46px;}  
.rosen_lft figure img         {max-width: 100%;height: auto;}
.rosen_rgt figure img         {max-width: 100%;height: auto;}     
.offer_lft figure img         {max-width: 100%;height: auto;}   
.offer_rgt h3                 {font-size: 34px; line-height: 40px;}
.owl-carousel .owl-item img   {max-width: 100%;height: auto;}
.cele_cnt                     {padding: 0 20px;}    
.offer_rgt h4                 {font-size: 20px;} 
.harris_lft h3                {font-size: 30px; line-height: 40px;}
.harris_blk_rgt_in            {margin: 10px 0 25px 0; padding: 15px 30px 50px 27px;}
.harris_blk_lft               {width: 65%;}
.harris_blk_rgt               {width: 33%;}   
.plan_in_lft h2               {font-size: 36px; line-height: 40px;}
.plan_in_lft img              {height: 540px;object-fit: cover;}
.plan_in_rgt img              {height: 540px;object-fit: cover;}
.plan_in_lft_txt              {left: 10%; margin-top: -120px;}   
.gal_cnt2                     {padding: 8px 5px;}  
.gal_cnt2 h4                  {margin: 0;}      
.special ul li a              {font-size: 15px;}   
.footer_mdl_in ul li          {padding: 0 40px;}    
.text                         {width: 77%;}
.footer_top_mdl               {padding: 0 20px;}
.social_links ul li a         {padding: 15px 18px;}  
.footer_top_rgt_in ul li      {padding: 0 12px;}

.cele_cnt {min-height: 183px;}
}

@media (max-width:991px)
{
 .header_blk                   {padding: 0 10px;text-align:center;}
 .logo 						   {margin: 16px auto 18px;float: none;}
  nav ul li a                  {font-size: 14px; padding: 44px 12px 38px; }    
 .logo a img                   {width: 200px; height: auto;}
 .avail_in                     {padding: 33px 40px 0;} 
 .contact ul                   {width: 87%;}
 .contact > ul > li            {margin: 0 30px 0 0;}
 .rosen_lft h3                 {font-size: 29px; line-height: 32px;}
 .rosen_lft p                  {font-size: 15px; line-height: 20px;}
 .rosen_rgt p                  {font-size: 15px; line-height: 20px; padding: 0 15px 17px;}
 .rosen_rgt_in                 {padding: 0 0 50px 0;}
 .rosen_rgt a                  {font-size: 16px;}
 .offer_in                     {padding: 0 10px;}
 .offer_lft p                  {padding: 0px 10px 17px 10px; font-size: 15px;line-height: 20px;} 
 .offer_lft a                  {font-size: 16px;}  
 .offer_rgt h3                 {font-size: 26px; line-height: 36px;} 
 
.harris_lft                   {text-align: center; width: 100%;} 
  
 .footer_top_in {text-align: center;}
 
 
 .creek                        {text-align: center;} 
 .creek_in ul li               {width: 33.33%;}
 .special ul li a              {padding: 0 15px;}
 .footer_mdl_in ul li          {padding: 0 20px;} 
 .foot_down                    {padding: 10px 15px;}
 .footer_top_lft               {display:inline-block; width:48%; float: none; text-align: center; padding: 0 0 30px;}
 .search                       {width:100%; margin: 0 auto;vertical-align:top;}
 .text                         {width:calc(100% - 68px);}  
 .footer_top_mdl               {padding: 0 30px;vertical-align:middle;float:none;width:48%;display:inline-block;vertical-align:top;}
 .footer_top_lft h3{text-align:center;}
 .footer_top_rgt             {float:none; padding: 0 20px;vertical-align: middle;width:100%;}
 .footer_top_rgt_in ul li      {padding: 0 20px;width:49%;}
 .footer_top_rgt_in span{display:inline-block;width:30%;}
 .footer_top_rgt_in ul{display:inline-block;width:60%;} 
 .social_links ul li a {padding: 8px 5px;width: 45px;}
 .footer_top_rgt_in ul li {border-right: 1px dotted #687329;border-left: 1px dotted #687329;}
 
 .offer_lft{width:100%;padding:0;}
 .offer_lft figure img{width:100%;height:auto;}
 .offer_lft a {width: 300px;}
 .offer_rgt{width:100%;padding:15px 0 0 0px;}
 .plan_in_lft {float: none;width: 100%;}
.plan_in_rgt {float: none;position: static;width: 100%;}
.plan_in_lft h2{width:100%;}
.plan_in_lft_txt {left:10%;margin-top:0;right:auto;top:144px;}
.plan_in_rgt_txt {bottom:80px;right:10%;left:auto;}
.rosen_lft{width:100%;}
.rosen_lft figure img{width:100%;height:auto;}
.rosen_rgt {padding: 0;width: 100%;}
.rosen_rgt_in {padding: 32px 30px 30px 30px;margin:0 0 35px 0;}
.rosen_rgt figure{width:36%;display:inline-block;vertical-align:top;padding:0;}
.our{width:60%;display:inline-block;vertical-align:top}
.rosen_rgt a {float: right;width:200px;}
.contact span{display:none;}
nav{display:none;}
}


@media (max-width:767px)
{
.plan_in_lft_txt {left: 0;margin-top:0;right: 0;top:144px;}
.plan_in_rgt_txt {bottom:80px;right: 0;left: 0;}	
.creek_in ul li {width:33%;}
.footer_mdl_in ul li {margin: 0 0 25px 0;}
.footer_top_mdl{width:100%;padding:0 30px 30px 30px;}
.footer_top_rgt {width: 100%;}
.special ul li a {padding: 0 6px;}
.creek_in h3 {font-size: 26px;line-height: 36px;}
.rosen_rgt figure img {width: 100%;height: auto;}
.rosen_rgt{padding:0;}



.harris_lft h3                {font-size: 36px; line-height: 50px;}
.harris_blk_lft               {width: 100%;}
.harris_blk_rgt               {width: 100%;} 
.harris_blk_rgt_in            {margin: 24px 0 32px 0;padding: 22px 30px 15px 27px;}
.harris_blk_rgt a p           {width: 50%; float: none;}
.harris_blk_rgt a span        {width: 20%; float: none;vertical-align:top;}
.harris_blk_rgt a{width:100%;} 
.harris_lft h3 {font-size: 26px;line-height: 36px;}
.footer_top {padding: 30px 0 30px;}	
.plan_in_rgt_txt h4 ,.plan_in_lft_txt h4 {font-size: 20px;line-height: 27px;}
.plan_in_lft_txt a ,.plan_in_rgt_txt a{font-size:18px;}
.plan_in_lft_txt {top:104px;}
.harris_lft {padding: 30px 0 35px 0;}
.rosen_in {padding: 0px 10px 0px 10px;}

.footer_top_lft{width:100%;}
.footer_top_rgt{width:100%;}
.footer_top_rgt_in span{display:block;width:100%;}
.footer_top_rgt_in ul{display:inline-block;width:auto;}
.footer_top_rgt_in ul li {border-right: 1px dotted #687329;border-left:none;}

.footer_mdl {display: none;}
.foot_down {padding: 20px 15px;}
.gal_cnt2 p {font-size: 11px;line-height: 15px;}


.header_top_in ul li {padding: 0px 9px;float: none;vertical-align: middle;}
.header_top_in ul{float:none;}
.header_top_in{text-align:center;}
.contact > ul > li ,.contact > ul > li.sub_btn{margin: 0 0px 0 0;padding:0;width: 45%;display: block;text-align: center;}

.rosen_rgt figure {width: 100%;}
.our {width: 100%;}
.rosen_rgt a {float: none;width: 200px;}


}

@media (max-width:599px)
{
.search {width: 90%;}
.offer_lft a {width: 257px;}	
.footer_top_lft{width:100%;display:none;}
.special{display:none;}
.creek_in ul li {width:50%;}
}
@media (max-width:479px)
{
.creek_in ul li{width:100%;}
.social_links ul li a {padding: 5px 5px;width: 31px;}
.social_links ul li a .fa {font-size: 18px;}
.plan_in_lft h2 {font-size: 23px;line-height: 25px;padding: 27px 0 22px 0;}
.plan_in_lft_txt ,.plan_in_rgt_txt{width:90%;}	
}






















